aws_region                 = "eu-west-1"
aws_profile                = "aws-eks-platform-dev"
owner                      = "Olatubosun Enoch David"
monthly_budget_amount_usd  = 5
budget_notification_email  = "olatubosunenochdavid@gmail.com"

